{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'webapp/img/about.png' %}" alt="profile image">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h1 class="section-heading mb-4">
                <span class="section-heading-upper text-primary">Sylvain Rieutor</span>
                <span class="section-lower">Développeur</span>
              </h1>
              <p>Autonome, rigoureux et aimant les challenges, je prends plaisir
                
                  à analyser les besoins,
                  rechercher les solutions les mieux adaptées,
                  mettre en œuvre mes compétences et ma motivation pour développer la solution retenue.
                
              </p>                
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="page-section cta">
  <div class="container" id="infos">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper text-primary">Pourquoi devenir</span>
            <span class="section-lower my-1 "><em>Développeur d'application</em></span>
            <span class="section-heading-upper text-primary">après quinze ans passés en milieu industriel...</span>
          </h2>
          <p class="mb-0">
            Curieux et passionné par les technologies numériques et leurs applications en perpétuelles évolutions, 
            j'ai, dans une démarche spontanée, souhaité approfondir mes connaissances et acquérir au travers d'une formation diplomante 
            la maîtrise de nouveaux outils me pemettant de créer des solutions répondant aux besoins actuels et à venir.             </p>
        </div>
      </div>
    </div>
  </div>
</section> 


{% include 'webapp/portfolio.html' %} 
{% endblock %}
