{% extends 'webapp/base.html' %}
{% load static %}
{% block content %}

<h1 class="site-heading text-center text-white "> 
  <span class="site-heading-upper text-primary mb-3">Crédits</span> 
</h1>

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-11 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Thème</span>
            </h2>
            <div class="row text-left mb-1">
              <ul>
                <li>
                  <span>Thème inspiré de <a class="link" href="https://startbootstrap.com/theme/business-casual">Business casual</a> par <a class="link" href="https://startbootstrap.com/">Start Bootstrap</a>
                  </span>
                </li>
              </ul>
            </div>
            <h2 class="section-heading">
              <span class="section-heading-lower">Images</span>
            </h2>
            <div class="row text-left mb-1">
              <ul>
                <li>
                  <span>Fond par <a class="link" href="https://pixabay.com/fr/users/3844328-3844328/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1857236">Lorenzo Cafaro</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1857236">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span>Accueil par <a class="link" href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1245714">Free-Photos</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1245714">Pixabay</a>
                  </span>
                </li>
                <br>
                <span>- Services -</span>
                <li>
                  <span><em>Utilisateurs</em> par <a class="link" href="https://pixabay.com/fr/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2917048">Gerd Altmann</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2917048">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span><em>Sécurité</em> par <a class="link" href="https://pixabay.com/fr/users/thedigitalway-3008341/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1591018">TheDigitalWay</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1591018">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span><em>Base de données</em> par <a class="link" href="https://pixabay.com/fr/users/thedigitalway-3008341/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1591018">TheDigitalWay</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1591018">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span><em>Dynamique</em> par <a class="link" href="https://pixabay.com/fr/users/ptra-359668/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2824850">ptra</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2824850">Pixabay</a>
                  </span>
                </li>
                <br>
                <span>- Projets -</span>
                <li>
                  <span><em>Eorders</em> par <a class="link" href="https://pixabay.com/fr/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2601872">StockSnap</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2601872">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span><em>Comparateur aliments</em> par <a class="link" href="https://pixabay.com/fr/users/silviarita-3142410/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2367029">silviarita</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2367029">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span><em>GrandpyBot</em> par <a class="link" href="https://pixabay.com/fr/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3685829">Gerd Altmann</a> de <a class="link" href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3685829">Pixabay</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>
{% endblock %}