{% extends 'webapp/base.html' %}
{% load static %}
{% block content %}

<h1 class="site-heading text-center text-white "> 
  <span class="site-heading-upper text-primary mb-3">Crédits</span> 
</h1>

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-11 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Images</span>
            </h2>
            <div class="row text-left mb-1">
              <ul>
                <li>
                  <span>Image de fond par <a href="https://pixabay.com/fr/users/3844328-3844328/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1857236">Lorenzo Cafaro</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1857236">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span>Image d'accueil par <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1245714">Free-Photos</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1245714">Pixabay</a>
                  </span>
                </li>
              </ul>
            </div>
            <h2 class="section-heading">
              <span class="section-heading-lower">Images</span>
            </h2>
            <div class="row text-left mb-1">
              <ul>
                <li>
                  <span>Image de fond par <a href="https://pixabay.com/fr/users/3844328-3844328/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1857236">Lorenzo Cafaro</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1857236">Pixabay</a>
                  </span>
                </li>
                <li>
                  <span>Image d'accueil par <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1245714">Free-Photos</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1245714">Pixabay</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>
{% endblock %}