{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

<h1 class="site-heading text-center text-white ">
    <span class="site-heading-upper text-primary mb-3">Développeur</span>
    <span class="site-heading-lower mb-3">Site Web</span>
    <span class="site-heading-lower mb-3">&</span>
    <span class="site-heading-lower mb-3">Application</span><br>
    <span class="small mb-3" style="text-transform: none;">Création sur mesure</span><br>   
</h1>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'webapp/img/intro.jpg' %}" alt="intro image">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Solutions sur mesures</span>
          </h2>
          <p class="mb-3">
            Face à la diversité et à la complexité du secteur développement, 
            il peut être difficile de savoir vers qui se tourner.
            Quel que soit votre besoin, 
            je vous accompagne dans l'étude et l'analyse de votre projet 
            ainsi que dans la mise en œuvre de solutions adaptées.
          </p>         
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{% url 'services' %}">En Savoir Plus</a>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="page-section cta">
  <div class="container" id="infos">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Accompagnement</span>
            <span class="section-lower"><em>Clés en main</em></span>
          </h2>
          <div class="row text-center">
            {% for step in steps %}
            <div class="col-md-4 my-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas {{ step.logo }} fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="section-heading">{{ step.name }}</h3>
                <p class="">{{ step.infos }}</p>
            </div>
            {% endfor %}
            <div class="intro-button mx-auto pt-4">
              <a class="btn btn-primary btn-xl" href="{% url 'contact_mail' %}">Contactez-moi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}