{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

<h1 class="site-heading text-center text-white ">
    <span class="site-heading-upper text-primary mb-3">Développeur</span>
    <span class="site-heading-lower mb-3">Site Web</span>
    <span class="site-heading-lower mb-3">&</span>
    <span class="site-heading-lower mb-3">Application</span><br>
    <span class="small mb-3" style="text-transform: none;"><b>Création de site internet sur-mesure</b></span><br>   
</h1>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'webapp/img/intro.jpg' %}" alt="intro image">
        <div class="intro-text left-0 text-center bg-faded py-5 px-4 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Solutions sur-mesures</span>
          </h2>
          <p class="mb-3" style="font-size: large;">
            Face à la diversité et à la complexité du secteur <strong>développement web</strong>, 
            il peut être difficile de savoir vers qui se tourner pour <strong>développer un site web</strong>.
            Quel que soit votre besoin, 
            je vous <strong>accompagne</strong> dans l'étude et l'analyse de <strong>votre projet</strong>
            ainsi que dans la mise en œuvre de solutions adaptées.
          </p>         
        </div>
      </div>
    </div>
</section>

<section class="page-section ">
  <div class="container" id="infos">
    <div class="row">
      <div class="cta col-xl-9 mx-auto">
        <div class="text-center text-white rounded px-2">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper text-primary">Création de site Web</span>
            <span class="section-lower"><em>Clés en main</em></span>
          </h2>
            <div class="justify-content-center pb-4" style="font-size: x-large;">
              <p><i>" Tu s'occupes de rien, je s'occupe de tout ! "</i></p>
              <div class="row justify-content-center">
                <ul class="text-left" >
                  <li class="py-1"><strong>Analyse du projet</strong></li>
                  <li class="py-1"><strong>Développement de la solution</strong></li>
                  <li class="py-1"><strong>Hébergement</strong></li>
                  <li class="py-1"><strong>Déploiement</strong></li>
                  <li class="py-1"><strong>Nom de domaine (DNS)</strong></li>
                  <li class="py-1"><strong>Optimisation du SEO</strong</li>
                  <li class="py-1"><strong>Optimisaiton des performances</strong></li>
                  <li class="py-1"><strong>Maintenance du site</strong></li>
                </ul>
              </div>
            </div>
           
            <div class="intro-button mx-auto pt-4">
              <a class="btn btn-primary btn-xl" href="{% url 'services' %}">En Savoir Plus</a>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section clearfix">
  <div class="container">
    <div class='row'>
      <div class="cta">
        <div class="intro-text left-0 text-center bg-faded py-5 px-4 mx-4 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Création de site internet</span>
          </h2>
          <p class="mb-3" style="font-size: large;">
            Avoir un <strong>site internet professionnel</strong> permet de booster son activitée.<br>
            Quel que soit votre projet web, <strong>site vitrine</strong>, <strong>site commerce</strong>, la cratione du site web est sur-mesure.<br>
            Totalement <strong>personnalisable</strong>, du contenu à la mise en page, en passant par le <strong>webdesign</strong>, le logo et les diverses fonctionnalités.
          </p>         
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{% url 'contact_mail' %}">Contactez-moi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}