{% load static %}
<section class="page-section cta carousel pt-1" aria-label="Gallery">
    <h2 class="site-heading text-center text-white">
        <span class="site-heading-upper text-primary">Mes projets</span>
    </h2>
    <!-- Slideshow container -->
    <div class="slideshow-container">
        
        {% for project in projects %}
        {% with 'webapp/img/projects/'|add:project.img as image %}
        <div class="mySlides fade-show">
            <div class="titletext rounded">{{ project.name }}</div>
            <div class="linktext rounded">
                {% if project.online %}
                <a class="text-primary mr-1" href="{{ project.online }}" target="_blank" title=" Live Démo">
                    <i class="fas fa-globe"></i>
                </a>
                {% endif %}
                {% if project.github %}
                <a class="text-primary" href="{{ project.github }}" target="_blank" title=" Code Source">
                    <i class="fas fa-code"></i>
                </a>
                {% endif %}
            </div>

            <img class="rounded" src="{% static image %}" style="width:100%" alt="{{ project.name }}"
                data-toggle="modal" data-target="#{{ project.name }}">
            <div class="text rounded">{{ project.details }}</div>
        </div>
        {% endwith %}

        {% with 'webapp/img/projects/'|add:project.img2 as image %}
        <div class="modal fade" id="{{ project.name }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>{{ project.name }}</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="text-center pt-2">
                        <img class="rounded" src="{% static image %}" style="width:80%" alt="{{ project.name }}">
                    </div>
                    <div class="modal-body">
                        <p>{{ project.details }}</p>
                        <div class="row justify-content-between px-3">
                            {% if project.online %}
                            <a class="text-primary mr-1" href="{{ project.online }}" target="_blank" title=" Live Démo">
                                <i class="fas fa-globe"></i> Live demo
                            </a>
                            {% endif %}
                            {% if project.github %}
                            <a class="link text-primary" href="{{ project.github }}" target="_blank" title=" Code Source">
                                <i class="fas fa-code"></i> Code source
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
  
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
  
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</section>