{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'webapp/img/tools/django.png' %}"
     alt="" style="max-height: 20rem;">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Application Web</span>
            <span class="section-lower"><em>Python|Django</em></span>
            </h2>
            <p class="mb-0">
              Django est un <em>framework web</em> basé sur le langage de programmation Python, 
              qui a pour but de rendre le développement web 2.0 simple et rapide.
              Il permet de construire <strong>toutes sortes de sites web</strong> 
              avec toutes les bases nécessaires, telle que la sécurité des applications.
              Il est utilisé par nombreux sites web tels que 
              <strong>Pinterest</strong>, <strong>Mozilla</strong> ou encore <strong>Instagram</strong>.
            </p>
          </div>
      </div>
    </div>
  </div>
</section>

{% for service in services %}
{% with 'webapp/img/'|add:service.img as image %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">{{ service.title }}</span>
            <span class="section-lower">{{ service.name }}</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" 
        src="{% static image %}" alt="{{ service.title }}">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ service.details }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endwith %}
{% endfor %}
 


{% endblock %}
