{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-11 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">FrontEnd | BackEnd | SGBD</span>
              <span class="section-lower">Technologies</span>
            </h2>
          
            <div class="row justify-content-center">
              {% for tool in tools %}
              {% with 'webapp/img/tools/'|add:tool.logo as logo %}
                
                <div class=" col-lg-3 col-md-4 p-2 m-3 text-center rounded">
                  
                  <img class="img-zoom" src="{% static logo %}"
                  alt="{{ tool.name }}" style="max-height: 7rem;" data-toggle="modal" data-target="#{{ tool.name }}">
                </div>

              {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modals -->
  {% for tool in tools %}
  <div class="modal fade" id="{{ tool.name }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>{{ tool.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ tool.details }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'webapp/img/about.png' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Application Web</span>
              <span class="section-lower"><em>Python|Django</em></span>
              </h2>
              <p class="mb-0">
                Django est un <em>framework web</em> basé sur le langage de programmation Python, 
                qui a pour but de rendre le développement web 2.0 simple et rapide.
                Il permet de construire toutes sortes de sites web (réseaux sociaux, sites d’actualités, wiki, etc…) 
                avec toutes les bases nécessaires, telles que la sécurité des applications, 
                Il est utilisé par nombreux sites web tels que 
                <strong>Pinterest</strong>, <strong>Mozilla</strong> ou encore <strong>Instagram</strong>.
              </p>
            </div>
        </div>
      </div>
    </div>
  </section>


  {% endblock %}